<html>

<head>
    <title> Jason's Portfolio </title>
    <style>
        body{
            width:100%;
            height:auto;
            background: url('metal.jpg') no-repeat center;
            background-position: 50% 50%;
            background-size: 100% cover!important;
            overflow:hidden;
            background-color: #f0f8ff;
        }
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            text-decoration-line: underline;
        }
        .ref:hover{
            background-color: #00ffff6e;
        }
        .topnav {
            background-color: #81878a8c;
            text-align: center;
            padding-right: 5%;
            margin-left: 20%;
            margin-right: 19.5%;
        }
        .link{
            padding-left: 5%;
        }
        .active{
            text-align: center;
        }
        .box-projects{
            background: #808080ad;
            margin-top: 2%;
            margin-right: 30%;
            margin-left: 30%;
        }
        .ref{
            padding-top: 2.5%;
            padding-bottom: 5%;
            border: solid;
        }
        .header1{
            background-color: #b5b5b5c2;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 1%;
            padding-top: 1px;
        }
        .header2{
            background-color: #b5b5b5c2;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 1%;
        }
        .other-stuff{
            background: #808080ad; 
            margin-top: 2%;
            margin-right: 30%;
            margin-left: 30%;
            border: solid white;
        }
        .stuff:hover{
            background-color: #00ffff6e;
        }
    </style>
</head>

<body>
    <nav class="topnav">
        <a class="link" href="contact">Contact</a>
        <a class="link" href="/">Home</a>
    </nav>


    <div class="active">
        <header class="header1">Projects:</header>
        <div class="box-projects">
            <a class="links" href="https://jv-hackathon.herokuapp.com/"
             target="_blank" rel="noopener noreferrer">
                <div class="ref">
                Hackathon
                </div>
            </a>
            <a class="links" href="https://jv-vstda.herokuapp.com/"
             target="_blank" rel="noopener noreferrer">
                <div class="ref">
                    To do app
                </div>
            </a>
            <a class="links" href="https://jv-sdtopspots.herokuapp.com/"
             target="_blank" rel="noopener noreferrer">
                <div class="ref">
                San Diego's Top Spots
                </div>
            </a>
            <a class="links" href="https://jv-mortgagecalc.herokuapp.com/"
             target="_blank" rel="noopener noreferrer">
                <div class="ref">
                    Mortgage Calculator
                </div>
            </a>
            <a class="links" href="https://jv-changecalculator.herokuapp.com/"
             target="_blank" rel="noopener noreferrer">
                <div class="ref">
                    Change Calculator
                </div>
            </a>
        </div>

        <header class="header2">Other links:</header>
        <div class="other-stuff">
            <a class="git-link" href="https://github.com/jasonv64"
             target="_blank" rel="noopener noreferrer">
                <div class="stuff">
                    github
                </div>
            </a>
            <a class="linkedIn-link" href="https://www.linkedin.com/in/jason-valadez-033645139/"
             target="_blank" rel="noopener noreferrer">
                <div class="stuff">
                    linkedIn
                </div>
            </a>
        </div>
    </div>
</body>

</html>