<html>

<head>
    <title> About Jason </title>
    <link href="/css/about.css" rel="stylesheet" type="text/css">
</head>

<body id="about">
    <div class="clouds">
        <nav class="topnav">
            <i>Jason Valadez</i>
            <a class="link" href="/">Home</a>
            <a class="link" href="about">About</a>
            <a class="link" href="projects">Projects</a>
            <a class="link" href="contact">Contact</a>
        </nav>

        <div class="moon circle">
        </div>

        <div class="about-me">
            A self-motivated developer with a background in construction and customer service. Creativity and curiosity lead me to seek
            out new knowledge and better my person. Enthusiastic and determined for more. I was first introduced into programming
            when I took a C++ class as part of my requiremnets for phyiscs. I liked how practical coding was and ended up
            becoming a JavaScript developer. Problem solving along with the desire to build things has made development really
            appealing to me.
        </div>

        <div class="stuff-i-like">
            When I'm not being productive, I often find myself camping deep in the forest miles away from any form of civilization gazing
            at the moon or the stars. If I can't make my way to the forest i'll seek an escape through music.
        </div>

        <div class="hire-me">
            I'm excited to jump into the field of programming and learn more about todays latest practices. I hope to gain skill sufficent
            to start a business.
        </div>


        <div class="mountain fixed"></div>
        <div class="ground fixed">
            <nav class="footer">
                <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
                    Github
                </a>
                <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
                    Linkedin
                </a>
            </nav>
        </div>
</body>

</html>