<html>

<head>
    <title>Contact Jason</title>
    <link href="/css/contact.css" rel="stylesheet" type="text/css">
</head>

<body>

    <nav class="topnav">
        <i>Jason Valadez</i>
        <a class="link" href="/">Home</a>
        <a class="link" href="about">About</a>
        <a class="link" href="projects">Projects</a>
        <a class="link" href="contact">Contact</a>
    </nav>

    <div class="container">
        <form action="/thanks" method="POST" name="contact" class="contact">
            <div class="first-name">
                <label for="firstName">First Name:</label>
                <input id="firstName" name="firstName" type="text">
            </div>

            <div class="last-name">
                <label for="lastName">Last Name:</label>
                <input id="lastName" name="lastName" type="text">
            </div>

            <div class="email">
                <label for="email">Email:</label>
                <input id="email" name="email" type="text">
            </div>

            <div class="button">
                <input type="submit" value="submit" />
            </div>
        </form>
    </div>

    <nav class="footer">
        <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
            Github
        </a>
        <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
            Linkedin
        </a>
    </nav>
</body>

</html>