<html>
<head>
    <title>DoWhoppin</title>
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="box">
    <nav class="topnav">
        <i>Jason Valadez</i>
        <a class="link" href="/">Home</a>
        <a class="link" href="about">About</a>
        <a class="link" href="projects">Projects</a>
        <a class="link" href="contact">Contact</a>
    </nav>
    <div class="img">
        <img class="pine-tree" src="/images/tree.png"/>
    </div>
</div>

    <nav class="footer">
        <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
            Github
        </a>
        <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
            Linkedin
        </a>
    </nav>
    <script type="text/javascript">

        let image = document.images[0];
        let bigImage = document.createElement("img");

        bigImage.onload = function() {
            image.src = this.src;
            image.className = "yosemite";
        }

        setTimeout(function() {
            bigImage.src = "/images/me.JPG";
        }, 0)
    </script>
</body>
</html>