<html>

<head>
    <title> Jason's Portfolio </title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>

<body id="index">
    <div class=stars>
        <div class=twinkling>
            <nav class="topnav">
                <i class="">Jason Valadez</i>
                <a class="link" href="/">Home</a>
                <a class="link" href="about">About</a>
                <a class="link" href="projects">Projects</a>
                <a class="link" href="contact">Contact</a>
            </nav>

            <div class="active-index">
                <header class="header">
                    <%= person.firstName %>
                        <%= person.lastName %>
                </header>
                <div class="about-me">
                    <strong class="socal">A developer from sunny southern california.</strong>
                    <p>
                        <b>I build things.</b>
                    </p>
                    <div class="animation">
                    _______________________
                    </div>
                    <p id="email-phone">
                        <strong id="email">valadezj045@gmail.com</strong> |
                        <strong id="phone">(951) 591-4818</strong>
                    </p>
                    <div>Don't forget to
                        <a id="links" href="contact"> contact me </a>directly!
                    </div>
                </div>
            </div>

            <nav class="footer">
                <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
                    Github
                </a>
                <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
                    Linkedin
                </a>
            </nav>
        </div>
    </div>
</body>

</html>