<html>

<head>
    <title> Jason's Projects </title>
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="box">
    <nav class="topnav">
        <i>Jason Valadez</i>
        <a class="link" href="/">Home</a>
        <a class="link" href="about">About</a>
        <a class="link" href="projects">Projects</a>
        <a class="link" href="contact">Contact</a>
    </nav>

    <div class="active-projects">
        <header class="header1">Projects</header>
        <div class="box-projects">
            <a class="links" href="portal">
                <div class="ref">
                    Origin Portal
                </div>
            </a>
            <a class="links" href="calendar">
                <div class="ref">
                    Origin Calendar
                </div>
            </a>
            <a class="links" href="vstda">
                <div class="ref">
                    Vstda
                </div>
            </a>
            <a class="links" href="topspots">
                <div class="ref">
                    San Diego's Top Spots
                </div>
            </a>
            <a class="links" href="mortgage">
                <div class="ref">
                    Mortgage Calculator
                </div>
            </a>
        </div>
        </div>

        <nav class="footer">
            <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
                Github
            </a>
            <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
                Linkedin
            </a>
        </nav>
</body>

</html>