<html>

<head>
    <title>Thanks!</title>
    <link href="/css/contact.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="topnav">
        <i>Jason Valadez</i>
        <a class="link" href="/">Home</a>
        <a class="link" href="about">About</a>
        <a class="link" href="projects">Projects</a>
        <a class="link" href="contact">Contact</a>
    </nav>

    <div class="Thanks move-thanks">
        Thanks
        <div class="contact-name">
            <%= contact.firstName %>
                <%= contact.lastName %>
        </div>
    </div>
    <div class="contact">
        I'll contact you soon
    </div>
    <div class="random">
        <ul class="movemnet">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <nav class="footer">
        <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
            Github
        </a>
        <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
            Linkedin
        </a>
    </nav>
</body>

</html>