<html>

<head>
    <title>Jason Thanks You</title>
    <style>
        body{
            background-image: url('metal4.jpg');
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center; 
            background-color: #9c90003b;
        }        
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            text-decoration-line: underline;
        }
        .link{
            padding-left: 5%;
        }
        .topnav {
            background-color: #3979c066;
            text-align: center;
            padding-right: 5%;
            margin-left: .7%;
            margin-right: .7%;
        }
        .thank-you{
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
            font-size: 275%;
            background-color: #c5d5ee7a;
            margin-top: 5%;
            margin-left: .7%;
            margin-right: .7%;
        }
        
    </style>
</head>

<body>

    <nav class="topnav">
        <a class="link" href="/">Home</a>
        <a class="link" href="about">About</a>
        <a class="link" href="contact">Contact</a>
    </nav>

    <div class="thank-you">
        Thank you
        <%= contact.firstName %>
        <%= contact.lastName %>.
    </div>
</body>

</html>