body {
    text-align: center;
    background-color: #111;
}

header {
    margin-bottom: 5vh;
    color: #ffffff;
}

a {
    padding-right: 5%;
    text-decoration: none;
    color: black;
}

i {
    margin-right: 40%;
}

.topnav {
    display: flex;
    height: 5vh;
    justify-content: center;
    padding-top: 2vh;
    border: solid #333;
    background-color: white;
    border-radius: 5px;
    font-family: fantasy;
}

.container {
    margin-top: 5vh;
    font-family: cursive;
}

.thanks {
    margin-top: 10vh;
    font-family: cursive;
    color: white;
}

#firstName {
    margin-bottom: 5vh;
    background: #333;
    border: solid #fff 1px;
    border-radius: 4px;    
    padding: .5vh 1vh;
    letter-spacing: 1px;
    color: #fff;
}

#lastName {
    margin-bottom: 5vh;
    background: #333;
    border: solid #fff 1px;
    border-radius: 4px;  
    padding: .5vh 1vh;  
    letter-spacing: 1px;
    color: #fff;
}

#email {
    margin-bottom: 5vh;
    background: #333;
    border: solid #fff 1px;
    border-radius: 4px; 
    padding: .5vh 1vh;  
    letter-spacing: 1px;
    color: white; 
}

#button {
    margin-bottom: 5vh;  
    background: #333;
    border: solid #fff 1px;
    border-radius: 4px;    
    color: #fff;
    padding: .5vh 1vh;
}

#button:hover {
    background-color: aliceblue;
}

.footer {
    bottom: 0;
    border: solid #333;
    position: absolute;
    width: 98%;
    margin-bottom: 1%; 
    background: #ffffff;
    font-family: fantasy;
    border-radius: 5px; 
    
}

.move-thanks {
    animation: drop 50s infinite; 
    animation-delay: 1s;
    margin-left: 40%;
    margin-right: 40%;
}

.contact-name {
    animation: drop 50s infinite;
    animation-delay: 2s;
    margin-left: 40%;
    margin-right: 40%;
}

.contact {
    opacity: 2;
    animation: fade 50s infinite;
    color: white;
    margin-left: 40%;
    margin-right: 40%;
    font-family: cursive;
}

.movemnet {      
    top: 0;
    margin: 0 !important;
    bottom: 0;
}

.movemnet li {
    color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    list-style: none;
    animation: animate 25s ease infinite;
    opacity: 0;
    background: rgba(255, 255, 255);   
}

.movemnet li:nth-child(1){
    right: 50%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.movemnet li:nth-child(2){
    left: 25%;
    width: 60px;
    height: 60px;
    animation-delay: 5s;
}

.movemnet li:nth-child(3){
    right: 5%;
    width: 100px;
    height: 100px;
    animation-delay: 2s;
}

.movemnet li:nth-child(4){
    left: 3%;
    width: 80px;
    height: 80px;
    animation-delay: 14s;
}

.movemnet li:nth-child(5){
    right: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 5s;
}

.movemnet li:nth-child(6){
    right: 40%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
        border-radius: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        transform: translateY(100%) translateX(1075%) rotate(720deg);
        border-radius: 50%;
        opacity: 0;
    }

}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(0) rotate(0deg)
    }

    to{
        opacity: 1000;
        transform: translateY(50%) rotate(2680deg)
    }
}

@keyframes drop {
    from{
        transform: translateY(0) rotate(0deg)
    }
    to{
        transform: translateY(400%) rotate(2680deg)
    }
}
