body {
    text-align: center;
}

header {
    margin: 0%;
}

a {
    padding-right: 5%;
    text-decoration: none;
    color: black;
}

i {
    margin-right: 40%;
}

.topnav {
    display: flex;
    height: 5vh;
    justify-content: center;
    padding-top: 2vh;
    border: solid;
    background-color: white;
    border-radius: 5px;
}

.footer {
    bottom: 0;
    border: solid;
    position: absolute;
    width: 100%;
    margin-bottom: 1%; 
}