body {
    background-color: #AEECEF;
    text-align: center;
}

header {
    margin: 0%;
}

a {
    padding-right: 5%
}

i {
    margin-right: 40%;
}

.topnav {
    display: flex;
    height: 5vh;
    justify-content: center;
    padding-top: 2vh;
    border: solid;
    background-color: white;
    border-radius: 5px;
}

.footer {
    bottom: 0;
    border: solid;
    position: absolute;
    width: 98%;
    margin-bottom: 1%; 
}

.active-projects {
    margin-top: 5%;
}

.ref {
    border: solid;
}