header {
    z-index: 1;
    width: 100%;
    position: fixed;
    transition: 2.5s;
    opacity: .25
}
.nav-image {
    width: 5.5vw;
    height: 2vw;
}

.nav-item {
    padding-left: 2.5vw
}

/* hero */

.welcome {
    margin-top: 7.5vh;
    margin-bottom: 65vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.card-img {
    height: 100vh;
}

.card-title {
    color: black;
    font-size: 5vh;
    font-family: "Arial Black", Helvetica, sans-serif
}

.card-text {
    color: black;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif

}

.text-link {
    color: azure
}

/* about */

.about-card {
    padding: 2rem
}

.about-me-statment {
    margin: 0 15vw;
    line-height: 3.5vh;
}

/* proects */

.sis {
    height: 75vh;
}

.wms {
height: 75vh;
}

.vstda {
    height: 75vh;
}

#card-img {
    height: 50vh;
}

/* skills */
#skills {
    padding-top: 2vh;
}

.carousel {
    height: 50vh;
}

.carousel-inner {
    padding-top: 5vh;
}

.carousel-caption {
    position: initial;
}

.carousel-header {
    color: black;
}

.carousel-p {
    color: black;
}

.carousel-indicators {
    background-color: #a8a8a896
}

.img-div {
    display: flex;
    justify-content: space-evenly;
}

.icon-img {
}

.carousel-control-prev-icon {
    background-color: #7d7d7dd4;
}

.carousel-control-next-icon {
    background-color: #7d7d7dd4;
}
