<html>

<head>
    <title>SDJS App</title>
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="box">
        <nav class="topnav">
            <i>Jason Valadez</i>
            <a class="link" href="/">Home</a>
            <a class="link" href="about">About</a>
            <a class="link" href="projects">Projects</a>
            <a class="link" href="contact">Contact</a>
        </nav>

        <div class="screenshots">
            <div class="pic">
                <img src="./images/app.png"></img>
            </div>
            <div class="pic">
                <img src="./images/apped.png"></img>
            </div>
        </div>

        <div class="description">
            This app was built for San Diego's JavaScript community. The app utilizes MeetUp to orginize events that the 
            community participates in. People can Sign up and indicate whether or not they're first time attendies. The app 
            has basic functunality you'd expect any app to have such as password reset, persisted log ins and allows users to
            update information. It links SDJS's online store along with a calnder of upcoming events with the option to RSVP
            to any of the events. SDJS's slack chanel is also accecable through the app. The app is built using React Native, 
            loopback, Redux and Nodejs. When I picked this app up it was part of a group project and legacy code already existed. 
            There are some features that are not included yet but should come along as other groups work on it. This project 
            really tested our git workflow capabilities. We ran into serval challenges and learned plenty while we worked on 
            it. Looking forward to more challenging projects!
        </div>

        <div class="live-link">
            <a href="https://play.google.com/store/apps/details?id=com.sdjs.SDJSapp" 
            target="_blank" rel="noopener noreferrer">Click here for a live version</a>
        </div>

        <nav class="footer">
            <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
                Github
            </a>
            <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
                Linkedin
            </a>
        </nav>
</body>

</html>