<html>

<head>
    <title>Change Calculator</title>
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="box">
        <nav class="topnav">
            <i>Jason Valadez</i>
            <a class="link" href="/">Home</a>
            <a class="link" href="about">About</a>
            <a class="link" href="projects">Projects</a>
            <a class="link" href="contact">Contact</a>
        </nav>

        <div class="screenshots">
            <div class="pic">
                <img class="pics" src="/images/calendar.png"></img>
            </div>
            <div class="pic">
                <img class="pics" src="/images/calndere.png"></img>
            </div>
            <div class="pic">
                <img class="pics" src="/images/calendered.png"></img>
            </div>
        </div>

        <div class="description">
            This calendar was built for students at Origin Code Academy. It allows users to make apponments with instructors for 
            tutoring sessions. When a student makes a request, they can then see all pending reuests and confirmed appoinments 
            on the home screen. There is an appoinments page that displays other students appoinments as well as a calendar that has
            class activities listed. This web app was built using the 'mob programming' method giving us all expreicne working as a team.
            The expreince provided me with my first look at git workflow. Glad I am now comfortable with it. The app itself was built 
            with reactjs, loopback, CSS and more. 
        </div>

        <div class="live-link">
            <a href="https://origin-calendar.now.sh" target="_blank" rel="noopener noreferrer">Click here for a live version</a>
        </div>

        <nav class="footer">
            <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
                Github
            </a>
            <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
                Linkedin
            </a>
        </nav>
</body>

</html>