<html>

<head>
    <title>Lyrics live</title>
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="box">
    <nav class="topnav">
        <a class="link" href="/">Home</a>
        <a class="link" href="about">About</a>
        <a class="link" href="projects">Projects</a>
        <a class="link" href="contact">Contact</a>
    </nav>

    <div class="screenshots">
        <div class="pic">
            <img src="../../public/images/"></img>
        </div>
        <div class="pic">
            <img src="../../public/images/"></img>
        </div>
    </div>

    <div class="description">
        description
    </div>

    <nav class="footer">
        <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
            Github
        </a>
        <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
            Linkedin
        </a>
    </nav>
</body>

</html>