<html>

<head>
    <title>SD Top Spots</title>
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="box">
        <nav class="topnav">
            <i>Jason Valadez</i>
            <a class="link" href="/">Home</a>
            <a class="link" href="about">About</a>
            <a class="link" href="projects">Projects</a>
            <a class="link" href="contact">Contact</a>
        </nav>

        <div class="screenshots">
            <div class="pic">
                <img src="/images/topspot.png"></img>
            </div>
            <div class="pic">
                <img src="/images/topspotted.png"></img>
            </div>
        </div>

        <div class="description">
            This web app displays 30 nice spots to see in San Diego. This app was fun to build because I was not aware of these spots
            when I started working on it. The list of spots was already prefabricated so I had to map then to the display. Afterwards
            there where a few neat adventures I had as a result! This app was built using reactjs, express and bootstrap for styling.
        </div>

        <div class="live-link">
            <a href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">Click here for a live version</a>
        </div>

        <nav class="footer">
            <a class="links" href="https://github.com/jasonv64" target="_blank" rel="noopener noreferrer">
                Github
            </a>
            <a class="links" href="https://www.linkedin.com/in/jason-valadez/" target="_blank" rel="noopener noreferrer">
                Linkedin
            </a>
        </nav>
</body>

</html>